body {
  background: rgb(232, 229, 229);
  background: linear-gradient(
    0deg,
    rgba(232, 229, 229, 1) 0%,
    rgba(240, 240, 241, 1) 100%
  );
}

@media (min-width: 992px) {
  .container__width {
    width: 105vh;
  }
}
